flask
flask-sqlalchemy
flask-migrate
flask-swagger
flask-cors
flask-admin>=1.6.1
flask-jwt-extended
flask-mail
bcrypt
gunicorn
psycopg2-binary
python-dotenv
cloudinary
typing-extensions
wtforms==3.1.2
sqlalchemy
requests
pandas>=2.0.0
backtesting>=0.3.3
ta
metaapi-cloud-sdk
APScheduler
yfinance
twelvedata
pytz
numpy
